#createBill {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
}
#removeAll {
    display: none;
}
#addProductBtn {
    margin-left: 10px;
    margin-top: 10px;
}
.form-inline {
    margin-left: 10px;
    margin-top: 10px;
 }
.form-product {
    margin-right: 10px;
    margin-left: 10px;
}
.btn-danger {
    margin-left: 10px;
    margin-top: 10px;
}
#BackToCard {
    display: none;
    margin-left: 10px;
    margin-top: 10px;
}
#ticket {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    width: 250px;
    border: 1px solid;
    font-size: 11px;
    font-family: monospace;
    display: none;
}
.imgFozzy {
    margin-top: 30px;
    margin-bottom: 15px;
}
.imgExelio {
    margin-bottom: 10px;
}
.style-for-hr {
    text-align: center;
    width: 200px;
    border: 1px dashed;
    color: grey;
}
.sumStyle {
    font-size: 17px;
    font-weight: bold;
}
.custum-center {
    position: relative;
    left: 50%;
    margin-left: -80px;
}
.sumTax {
    font-weight: bold;
}
.fiscalBill {
    font-size: 18px;
}
.article {
    font-weight: bold;
    font-size: 13px;
}
